<?xml version="1.0" encoding="UTF-8"?>
<div class="templates:surround?with=templates/page.html&amp;at=content">
    <h1 class="config:app-title">Annual eXist-db Pre-conference day</h1>
    <p>
        We are happy to announce the annual <a href="http://www.exist-db.org">eXist-db</a> users group meeting at the 
        'official' <a href="http://www.xmlprague.cz/pre-conference-friday/">pre-conference day</a> of the <a href="http://www.xmlprague.cz">XML Prague 2013 </a>
        conference! This special day is the best opportunity of the year to meet the eXist-db developers and the eXist-db community.
    </p>
    <p>
        eXist annual user meetup will be a full day of presentations, talks and discussions for users, developers or anyone 
        with an interest in eXist. All are welcome to attend for all or any part of the day.
     </p>
    <p>
        The day will have three main themes, talks from the core developers behind eXist, talks from users of eXist, and 
        an <a href="http://en.wikipedia.org/wiki/Unconference">un-conference session</a> where anyone can give an impromptu talk, demo or start a discussion. 
    </p>
    <p>
        <!--a class="btn" href="registration.html">Register for pre-conference event</a-->
        <a class="btn" href="program.html">View Pre-conference Program and Presentations</a>
    </p>
    <!--div class="alert alert-success">
        <p>
           If you wish to speak, present, ask or demo please contact us at <B>info AT exist-db.org</B>.
        </p>
    </div-->
    <p>
        <b>Registration: </b>9u00<br/>
        <b>First Presentation: </b>9u30<br/>
        <b>Date: </b>February 8th 2013<br/>
        <b>Location: </b>
        <a href="http://www.xmlprague.cz/venue/">University of Economics</a>, Prague, Czech Republic<br/>
    </p>
    <p>
        <br/>
        <img src="resources/images/existsolutions.png"/>
        <br/>
        The eXist-db pre-conference has been made possible by <a href="http://www.existsolutions.com">eXist solutions</a>.
    </p>
</div>