<?xml version="1.0" encoding="UTF-8"?>
<div class="templates:surround?with=templates/page.html&amp;at=content">
<!--    <h1 class="config:app-title">Photos of previous pre-conferences</h1>-->
    <h1>Pre-conference photos</h1>
    <p>
    
    Will be here soon
    </p>
</div>