<?xml version="1.0" encoding="UTF-8"?>
<div class="templates:surround?with=templates/page.html&amp;at=content">
    <h1>Previous presentations</h1>
    <p>
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Presenter</th>
                    <th>Organization</th>
                    <th>Video</th>
                    <th>Slides</th>
                </tr>
            </thead>
            <tbody class="app:presentations">
<!--    <div class="app:presentations"></div>-->
            </tbody>
        </table>
    </p>
</div>