<?xml version="1.0" encoding="UTF-8"?>
<div class="templates:surround?with=templates/page.html&amp;at=content">
    <!--    <h1 class="config:app-title">Program</h1>-->
    <h1>Program</h1>
    <p>
        <!--div class="alert alert-success">
            <p>
            The agenda might not be final yet: the details (like presenters, subjects and timing) might change.  Please contact us
    at <B>info AT exist-db.org</B> if you want to participate e.g. for the unconference session (not required but highly appreciated).
        </p>
        </div-->
        The presentations will be planned according to the timeschedule of the other sessions of the
            <a href="http://www.xmlprague.cz/pre-conference-friday/">pre-conference friday</a>. This
        means it is possible to switch between rooms during the day. </p>
    <p>
        <h2>Agenda</h2>
        <table class="table table-striped">
            <caption>Presentations 2013</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Presenter</th>
                    <th>Time</th>
                    <th>Presentation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Registration</td>
                    <td>-</td>
                    <td>9:00</td>
                </tr>
                <tr>
                    <td>Opening</td>
                    <td>Adam Retter</td>
                    <td>9:30</td>
                </tr>
                <tr>
                    <td>"Reliable document replication"</td>
                    <td>Dannes Wessels</td>
                    <td>9:35</td>
                    <td>
                        <a href="http://data.exist-db.org/publications/2013-Prague-Preconference/eXist-db%20Reliable%20Document%20Replication.pdf">
                            <img src="resources/images/presentation.png"/>
                        </a>
                        <a href="http://www.youtube.com/watch?v=bpI_KNtpNdI">
                            <img src="resources/images/youtube.gif"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>"Building a webservice emulator in eXist"</td>
                    <td>Erik Siegel</td>
                    <td>10:00</td>
                    <td>
                        <a href="http://data.exist-db.org/publications/2013-Prague-Preconference/A%20webservice%20emulator%20in%20eXist.pdf">
                            <img src="resources/images/presentation.png" alt="Slides"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>"eXgit: how to do versioning with eXist &amp; git"</td>
                    <td>Dmitriy Shabanov</td>
                    <td>10:30</td>
                </tr>
                <tr>
                    <td>
                        <b>Coffee Break</b>
                    </td>
                    <td>-</td>
                    <td>11:00</td>
                </tr>
                <tr>
                    <td>"We Fought the Law: creating an application with eXist-db and XForms" (Hands
                        on)</td>
                    <td>Wolfgang Meier &amp; Lars Windauer</td>
                    <td>11:30</td>
                    <td>
                        <a href="http://data.exist-db.org/publications/2013-Prague-Preconference/2013-XMLPrague-Preconf-We-fought-the-law.pdf">
                            <img src="resources/images/presentation.png" alt="Slides"/>
                        </a>
                        <a href="http://www.youtube.com/watch?v=UmgGVKWh4_Q">
                            <img src="resources/images/youtube.gif"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Lunch Break</b>
                    </td>
                    <td>-</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>"Announcing the eXist-db Book"</td>
                    <td>Erik Siegel</td>
                    <td>14:30</td>
                </tr>
                <tr>
                    <td>"Higher-order functions and functional programming"</td>
                    <td>Wolfgang Meier</td>
                    <td>14:40</td>
                    <td>
                        <a href="http://demo.exist-db.org/exist/apps/demo/examples/basic/hof.html">
                            <img src="resources/images/presentation.png" alt="Slides"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>"Harvesting (meta) data"</td>
                    <td>Leif-Jöran Olsson</td>
                    <td>15:10</td>
                    <td>
                        <a href="http://www.youtube.com/watch?v=XfBO8RNH7cA">
                            <img src="resources/images/youtube.gif"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>"FT-Indexing non-xml documents using Lucene and Tika"</td>
                    <td>Wolfgang Meier</td>
                    <td>15:35</td>
                </tr>
                <tr>
                    <td>
                        <b>Coffee Break</b>
                    </td>
                    <td>-</td>
                    <td>16:00</td>
                </tr>
                <tr>
                    <td>"Unconference" - see below for details</td>
                    <td>You!<br/>Please bring your laptop and feel free<br/> to share your work with
                        the community!</td>
                    <td>16:30</td>
                </tr>
                <tr>
                    <td>Wrap-up</td>
                    <td>Adam Retter</td>
                    <td>18:00</td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>
        <!--        <h2>Presentations</h2>-->
        <!--        <table class="table table-striped">-->
        <!--            <caption>Presentations sessions 1 & 3</caption>-->
        <!--            <thead>-->
        <!--                <tr>-->
        <!--                    <th>Presenter</th>-->
        <!--                    <th>Title</th>-->
        <!--                </tr>-->
        <!--            </thead>-->
        <!--            <tbody>-->
        <!--                <tr>-->
        <!--                    -->
        <!--                    <td>-->
        <!--                        <-->
        <!--                        <li>xqsuite: Unit testing XQuery</li>-->
        <!--                    </td>-->
        <!--                </tr>-->
        <!--            </tbody>-->
        <!--        </table>-->
    </p>
    <p>
        <h2>Unconference</h2>
        <table class="table table-striped">
            <caption>Unconference 2013</caption>
            <thead>
                <tr>
                    <th>Presenter</th>
                    <th>Title</th>
                    <th>Presentation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Василий Старцев</td>
                    <td>Working with big documents in oXygen XML Author</td>
                    <td>
                        <a href="http://data.exist-db.org/publications/2013-Prague-Preconference/An%20oXygen%20framework%20for%20handling%20large%20documents.pdf">
                            <img src="resources/images/presentation.png" alt="Slides"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>David Fichtmueller</td>
                    <td>Customizing eXide to fit your workflow.</td>
                    <td>
                        <a href="http://rebind.bgbm.org/files/rebind/2013xmlprague/custom_eXide.html">
                            <img src="resources/images/presentation.png" alt="Slides"/>
                        </a>
                        <a href="http://www.youtube.com/watch?v=dHt0WTzwv2g">
                            <img src="resources/images/youtube.gif"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitriy Shabanov</td>
                    <td>Websocket ... what for</td>
                </tr>
                <tr>
                    <td>Henriette Roued-Cunliffe</td>
                    <td>eXist as a storage facility for our XML data for the Buddhist Manuscripts
                        from Gandhara project.</td>
                </tr>
                <tr>
                    <td>Wouter Hager</td>
                    <td>JSON and eXist 2.0: A happy couple</td>
                    <td>
                        <a href="http://data.exist-db.org/publications/2013-Prague-Preconference/JsonExist.pdf">
                            <img src="resources/images/presentation.png" alt="Slides"/>
                        </a>
                        <a href="https://www.youtube.com/watch?v=jdACRjiaB9g">
                            <img src="resources/images/youtube.gif"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
</div>