<?xml version="1.0" encoding="UTF-8"?>
<div class="templates:surround?with=templates/page.html&amp;at=content">
    <h1 class="config:app-title">Registration</h1>
    <p>The organization of the XML Prague Conference announced that attendance to the Friday Event
        is free for registered XML Prague attendees. For organizational reasons however we'd like to
        know approx. how many people intend to attend our meeting. </p>
    <p> So please register for our sessions with the form below if you plan to join us on the
        pre-conference Friday! </p>
    <p> We hope to see you on 8 February 2013! </p>
    <p>
        <!--b>Please be patient since the form requires some time to load..........</b-->
    </p>
    <p>
        <div class="alert alert-success">
            <p>
           Registration for this event is not possible anymore.
        </p>
        </div>
        <!--iframe
            src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDNCdC0xUkNleHpFUFgwcDZpeG02UHc6MQ"
            width="760" height="885" frameborder="0" marginheight="0" marginwidth="0"
            >Loading...</iframe-->
    </p>
</div>